// content-area.scss

#content-area {
	min-height: 72vh;
	padding: 1em 2em;
	position: relative;
	
	
	> h1 {
		font-size: 1.75em;
		width: 100%;
		line-height: 1.5em;
		
		&.welcome {	
			text-align: center;
			margin-bottom: .25em;
		}
	}
	
	> h2 {
		text-align: center;
		width: 50%;
		margin: 0 auto;
		margin-bottom: 1em;
	}
	
	> h3 {
		font-size: 1em;
		text-align: left;
		color: $white;
	}
	
	h5 {
		line-height: 3em;
		
		a {
			text-decoration: underline;
		}
	}
}

ul#webcast-archive {
	width: 100%;
	
	li {
		display: block;
		font-size: 0;
		padding: 1rem 2rem;
		background-color: $dk-blue;
		
		> * {
			display: inline-block;
			vertical-align: middle;
		}
		
		.webcast {
			font-size: 1rem;
			width: 25%;
			border-right: 1px solid $lt-blue;
			padding: 1rem 2rem 1rem 0;
			
			h1 {
				text-align: right;
				font-weight: 600;
				color: $white;
			}
			
			a {
				display: block;
				width: 100%;
				position: relative;
				margin: .5em 0;
				
				&:before {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background: rgba($white,.3) url("../images/play-blue.svg") no-repeat center center;
					background-size: auto 35%;
				}
				
				&:after {
					content: attr(data-title);
					position: absolute;
					bottom: 0;
					right: 0;
					font-size: .8rem;
					font-weight: 600;
					color: $white;
					background-color: rgba($gray,.7);
					display: block;
					padding: .25em .5em;
				}
				
				img {
					width: 100%;
				}
			}
			
			p {
				font-size: .8em;
			}
		}
		
		ul.supporting-materials {
			width: 75%;
			
			li {
				font-size: 1rem;
				display: inline-block;
				
				a {
					display: block;
					color: $white;
					font-weight: 600;
					text-align: center;
				
					span {
						display: block;
						color: $lt-blue;
						font-weight: 300;
					}

					&:before {
						font-family: $fa;
						font-size: 3em;
						font-weight: 700;
						display: block;
						color: $lt-blue;
						margin-bottom: .5rem;
					}

					&.pdf:before {
						content: '\f1c1';
					}
					
					&.ppt:before {
						content: '\f1c4';
					}
				}
			}
		}
	}
}


ul#upcoming-list {
	position: relative;
	margin-top: .5em;
	text-align: center;
	
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
		width: 95%;
		height: 120%;
		background-color: $black;
		z-index: -1;
	}
	
	> li {
		display: block;
		@include radial-gradient($md-blue,$lt-blue-2);
		background-size: 250% 250%;
		border: 1px solid $lt-blue-2;
		@include border-radius($border-radius);
		padding: 2rem;
		margin-bottom: 1rem;
		font-size: 0;

		
		> ul {
			display: block;
			font-size: 0;
			
			> li {
				display: inline-block;
				vertical-align: middle;
				font-size: 1rem 2rem;
				font-size: 1rem;
				
				&:nth-of-type(1) {
					width: 15%;
				}
				
				&:nth-of-type(2) {
					width: 15%;
				}
				
				&:nth-of-type(3) {
					width: 45%;
				}
				
				&:nth-of-type(4) {
					width: 25%;
				}
				
				a {
					display: block;
					@include radial-gradient($lt-blue,$lt-blue-2);
					background-size: 200% 200%;
					background-position: center;
					text-align: center;
					border: 1px solid $lt-blue;
					padding: .5em 1em;
					color: $md-blue;
					font-weight: 600;
					@include border-radius($border-radius);
					
					&:hover {
						filter: drop-shadow(0 0 5px rgba($lt-blue,1));
					}
					
					span.added {
						display: none;
					}
					
					i {
						margin-right: .5em;
					}
					
					&.added {
						background: $dk-blue;
						color: $white;
						pointer-events: none;
						
						span {
							display: none;
							
							&.added {
								display: inline;
							}
						}
					}
				}
			}
		}
	}
}

ul#training-headers > li,
ul#training-list > li > ul > li {
	&:nth-of-type(1) {
		width: 12%;
	}
	
	&:nth-of-type(2) {
		width: 40%;
		padding: 0 2%;
	}
	
	&:nth-of-type(3) {
		width: 18%;
	}
	
	&:nth-of-type(4) {
		width: 10%;
	}
	
	&:nth-of-type(5) {
		width: 10%;
	}
	
	&:nth-of-type(6) {
		width: 10%;
	}
	
}

ul#contact-directors {
	width: 100%;
	font-size: 0;
	
	> li {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		//background-color: $dk-blue;
		font-size: 1rem;
		position: relative;
		
		&:after {
			content: '';
			background-color: $dk-blue;
			position: absolute;
			top: -1em;
			left: 50%;
			@include transform(translateX(-50%));
			width: 85%;
			height: 100%;
			z-index: -1;
		}
		
		> a {
			display: block;
			@include radial-gradient(rgba($md-blue,.85),rgba($lt-blue-2,.85));
			border: 1px solid $lt-blue;
			@include border-radius($border-radius);
			padding: 1em 0;
			width: 90%;
			margin: 0 5%;
			font-size: 1em;
			color: $white;
			text-align: center;

			img {
				height: 1.5em;
				width: auto;
				margin: 0 auto .5em auto;
				display: block;
			}

			&:hover {
				filter: drop-shadow(0 0 5px rgba($lt-blue,1));
			}
		}

		> ul {
			font-size: 0;
			width: 80%;
			margin: 2vh 10%;

			> li {
				width: 100%;
				font-size: 1rem;
				display: block;
				padding: 1rem;
				color: $white;
				text-align: center;

				> ul,
				> img {
					display: block;
				}

				img {
					height: 5em;
					margin: .5em auto;
				}

				> ul {
					> li {
						margin-bottom: .5em;

						&:first-of-type {
							font-weight: 600;
						}

						&:not(:first-of-type) {
							font-size: .8em;
						}

						a {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

